.footer_container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 2em 0em 7em 0em;
	background-color: rgb(244, 244, 244);
	p {
		text-align: center;
		width: 90%;
		line-height: 1.6em;
	}
}
@media only screen and (min-width: 1024px) {
	.footer_container {
		padding: 3em 0em 10em 0em;
		p {
			font-size: 16.7px;
		}
	}
}
