* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', 'sans-serif';
}

@mixin box_styling {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.gl_header {
	@include box_styling;
	color: white;
	background-image: url('../images/bg.jpg'),
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-size: cover;
	background-blend-mode: overlay;
}
.header_content {
	padding: 1.5rem 0rem 0rem 0rem;
	align-self: center;
	width: 90vw;
	@include box_styling;
	img {
		width: 11rem;
		padding-left: 0.3em;
	}
}
.text_content {
	@include box_styling;
	justify-content: space-between;
	padding: 2.8rem 0rem;
	form {
		@include box_styling;
		background-color: white;
		color: black;
		align-items: center;
		border-radius: 0.4em;
		padding: 1.1em 0.5em 1em 0.5em;
		h3 {
			font-size: 17px;
			padding-bottom: 0.3em;
		}
		h3:after {
			content: '';
			display: block;
			margin: 0 auto;
			width: 45%;
			padding: 0.2em 0em;
			border-bottom: 1px solid black;
			border-bottom-width: thin;
		}
		.input_value {
			width: 95%;
			padding: 0.6em 0.8em;
			border-radius: 4px;
			border: 0.12em solid #9b9da3;
			font-size: 13px;
			margin: 0.6em 0em 0em 0em;
		}
		select {
			width: 95%;
			padding: 0.7em 0.4em;
			border-radius: 4px;
			border: 0.12em solid #9b9da3;
			background-color: white;
			margin: 0.7em 0em 0em 0em;
			color: rgb(36, 37, 38);
		}
		::placeholder {
			color: rgb(36, 37, 38);
			opacity: 1;
		}
		button {
			padding: 0.5em 1.2em;
			background-color: rgb(6, 69, 229);
			border-radius: 4px;
			border: 1px solid rgb(6, 69, 229);
			color: white;
			font-size: 18px;
		}
	}
}
.gl_program {
	@include box_styling;
}
.checkbox_input {
	display: flex;
	width: 95%;
	padding: 0.9em 0em;
	input {
		border-radius: 8px;
		border: 1px solid #9b9da3;
		color: #9b9da3;
	}
	label {
		margin-left: 3vw;
		font-size: 10px;
		color: #242526;
		line-height: 1.4em;
	}
}
.interest_program {
	display: none;
}
.pg_program {
	padding: 4em 0em 1.3em 0em;
	font-size: 0.9em;
	line-height: 2em;
}
.gl_benefit {
	display: flex;
	line-height: 1.4em;
	div {
		font-size: 16px;
		padding-left: 0.5em;
	}
}

.gl_benefit:before {
	content: '';
	border-left: 0.6em solid white;
	border-left-width: thin;
}
.mentorship {
	line-height: 1.7em;
	padding: 2em 0em 1em 0em;
	font-size: 14px;
}

@media only screen and (min-width: 1024px) {
	.header_content {
		padding: 2rem 0rem 0rem 0rem;
		width: 100%;
		img {
			width: 20rem;
			padding-left: 2em;
		}
	}
	.text_content {
		width: 90%;
		@include box_styling;
		flex-direction: row;
		align-self: center;
		justify-content: space-between;
		padding: 0rem 0rem 2.5rem 0rem;
		form {
			order: 1;
			width: 31%;
			margin-right: 2.5em;
			@include box_styling;
			background-color: white;
			color: black;
			align-items: center;
			border-radius: 0.4em;
			padding: 1.5em 0.5em 1em 0.5em;
			h3 {
				font-size: 22px;
				padding-bottom: 0.5em;
			}
			h3:after {
				content: '';
				display: block;
				margin: 0 auto;
				width: 40%;
				padding: 0.2em 0em;
				border-bottom: 2px solid rgb(121, 121, 122);
			}
			.input_value {
				width: 95%;
				padding: 0.8em 1em;
				border-radius: 6px;
				border: 2px solid rgb(212, 213, 214);
				font-size: 14.5px;
				margin-bottom: 0.2em;
			}
			select {
				width: 95%;
				padding: 0.8em 1em;
				border-radius: 6px;
				border: 2px solid rgb(212, 213, 214);
				background-color: white;
				color: rgb(36, 37, 38);
				font-size: 14.5px;
				margin-bottom: 0.2em;
			}
			::placeholder {
				color: rgb(36, 37, 38);
				opacity: 1;
			}
			button {
				padding: 0.6em 1.5em;
				background-color: rgb(6, 69, 229);
				border-radius: 4px;
				border: 1px solid rgb(6, 69, 229);
				color: white;
				font-size: 22px;
				margin-top: 0.8em;
				margin-bottom: 0.2em;
			}
		}
	}
	.gl_program {
		@include box_styling;
		width: 58%;
		justify-content: center;
		margin-left: 3%;
		padding-bottom: 2em;
	}
	.checkbox_input {
		display: flex;
		justify-content: flex-start;
		width: 95%;
		input {
			border-radius: 8px;
			border: 1px solid #9b9da3;
			color: #9b9da3;
		}
		label {
			margin-left: 2em;
		}
	}
	.interest_program {
		display: inline-block;
		padding: 0.5em 0em 0em 0em;
	}
	.pg_program {
		padding: 0em 0em 0em 0em;
		font-size: 0.9em;
		line-height: 2em;
		font-size: 22px;
		margin-bottom: 1.3em;
	}
	.gl_benefit {
		display: flex;
		line-height: 2em;
		margin-bottom: 1em;
		div {
			font-size: 20px;
			font-weight: 600;
			padding-left: 1em;
		}
	}

	.gl_benefit:before {
		content: '';
		border-left: 0.6em solid white;
		border-left-width: thin;
	}
	.mentorship {
		line-height: 1.7em;
		display: flex;
		padding: 1em 0em 0em 0em;
		font-size: 18px;
	}
	.mentorship_plan:before {
		content: '';
		border-left: 3px solid white;
		padding-left: 0.3em;
	}
	.mentorship_duration {
		padding-right: 0.3em;
	}
}
