.gl_main {
	@include box_styling;
	.why_gl {
		padding: 5em 0em 5.5em 0em;
		@include box_styling;
		width: 90%;
		align-self: center;
		iframe {
			margin-top: 3rem;
			height: 35vh;
		}
		.whyChoseGl:after {
			content: '';
			display: block;
			margin: 0 auto;
			width: 40%;
			margin-top: 1em;
			border-bottom: 4px solid rgb(6, 69, 229);
			align-self: center;
		}
		.whyChoseGl {
			@include box_styling;
			width: 90%;
			align-self: center;
			h2 {
				width: 90%;
				font-size: 22px;
				text-align: center;
				align-self: center;
				line-height: 1.4em;
			}
		}
	}
}
.various_programs {
	display: none;
}
.snapshot {
	@include box_styling;
	padding: 3.5rem 0rem;
	background-color: rgb(239, 249, 248);
	h2 {
		width: 80%;
		font-size: 22px;
		align-self: center;
		text-align: center;
		line-height: 1.4em;
	}
	h2::after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 40%;
		padding-top: 0.6em;
		border-bottom: 4px solid rgb(6, 69, 229);
	}
}
.snapshot_items {
	width: 90vw;
	align-self: center;
	margin-top: 2em;
	border: 0.15em solid rgb(229, 227, 228);
}
.accordion {
	display: flex;
	background-color: white;
	color: black;
	cursor: pointer;
	font-weight: 400;
	width: 100%;
	border: none;
	border-top: 0.11em solid gray;
	text-align: left;
	outline: none;
	font-size: 1em;
	transition: 0.4s;
	justify-content: space-between;
	p {
		align-self: center;
		font-size: 15px;
		padding-left: 0.8em;
	}
}

.accordion:after {
	content: '\002B';
	color: black;
	font-weight: 900;
	font-size: 1.3em;
	padding: 0.7em 0.7em 0.7em 0em;
}

.active:after {
	content: '\2212';
}

.panel {
	padding-left: 1em;
	background-color: white;
	max-height: 0;
	line-height: 1.4em;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.remove_border {
	border: none;
}

.learning_outcome {
	padding: 4em 0em 0em 0em;
	width: 90%;
	align-self: center;
	@include box_styling;
	align-items: center;
	align-self: center;
}
.learning_outcome_header {
	padding: 0em 0em 1.5em 0em;
	align-items: center;
	align-self: center;
	font-size: 22px;
}
.learning_outcome_header::after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 50%;
	margin-top: 0.7em;
	border-bottom: 0.2em solid rgb(6, 69, 229);
}
.learning_outcome_image {
	width: 100%;
	@include box_styling;
}
.learning_outcome_content {
	width: 100%;
	padding: 2em 0em 2em 0em;
	@include box_styling;
	align-items: center;
	align-self: center;
	div {
		display: flex;
		align-self: flex-start;
		padding: 0em 0em 1.5em 0em;
	}

	div::before {
		content: url('../images/black-tick.svg');
	}
	p {
		line-height: 1.5em;
		font-size: 15px;
		padding-left: 0.8em;
	}
}
.learning_outcome_description {
	line-height: 1.5em;
	font-size: 15px;
	padding: 0em 0em 2em 0em;
}
.laptop_image {
	width: 90%;
}

.testimonials {
	@include box_styling;
	h2 {
		align-self: center;
		padding: 0em 0em 1.5em 0em;
	}
	h2::after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 40vw;
		margin-top: 0.7em;
		border-bottom: 0.2em solid rgb(6, 69, 229);
	}
}

.slideshow-container {
	@include box_styling;
	position: relative;
}
.mySlides {
	display: none;
	line-height: 1.4em;
	font-size: 15px;
	width: 90%;
	align-self: center;
	padding-bottom: 1em;
}

.qoutesDesktop {
	width: 0.29em;
	height: 0.29em;
	margin-bottom: 0.8em;
}

.prev,
.next {
	display: none;
}

.dot-container {
	align-self: center;
	padding-bottom: 3em;
}

.dot {
	cursor: pointer;
	height: 0.8em;
	width: 0.8em;
	margin: 0 0.4em;
	background-color: gray;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.working {
	background-color: rgb(6, 69, 229);
}
.author {
	font-weight: 600;
	width: 70%;
	font-size: 15px;
	padding: 1em 0em 1em 0em;
}
@media only screen and (min-width: 1024px) {
	.gl_main {
		.why_gl {
			padding: 5.5em 0em 2em 0em;
			width: 100%;
			iframe {
				height: 70vh;
				width: 60%;
				align-self: center;
				padding-top: 1.5em;
			}
			.whyChoseGl:after {
				width: 27%;
				border-bottom: 4px solid rgb(6, 69, 229);
				align-self: center;
			}
			.whyChoseGl {
				width: 100%;
				h2 {
					width: 90%;
					font-size: 30px;
					text-align: center;
					align-self: center;
					line-height: 1.4em;
					margin-top: 0.5em;
				}
			}
		}
	}
	.various_programs {
		display: flex;
		width: 100%;
		padding: 5em 0em 2.5em 0em;
		justify-content: space-around;
		align-self: center;
	}
	.curriculum_program {
		display: flex;
		flex-direction: column;
		div {
			align-self: center;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10em;
			height: 10em;
			border-radius: 50%;
			background-color: #f7d354;
		}
		h3 {
			font-size: 20px;
			width: 10em;
			text-align: center;
			line-height: 1.4em;
			padding: 1em 0em 0em 0em;
		}
	}
	.career_assistance {
		display: flex;
		flex-direction: column;
		div {
			align-self: center;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10em;
			height: 10em;
			border-radius: 50%;
			background-color: #42c5f1;
		}
		h3 {
			font-size: 20px;
			width: 10em;
			text-align: center;
			line-height: 1.4em;
			padding: 1em 0em 0em 0em;
		}
	}
	.mentorship_program {
		display: flex;
		flex-direction: column;
		div {
			align-self: center;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10em;
			height: 10em;
			border-radius: 50%;
			background-color: #3baa8e;
		}
		h3 {
			font-size: 20px;
			width: 10em;
			text-align: center;
			line-height: 1.4em;
			padding: 1em 0em 0em 0em;
		}
	}

	.snapshot {
		@include box_styling;
		padding: 4rem 0rem;
		padding-bottom: 5rem;
		width: 100%;
		align-self: center;
		background-color: rgb(239, 249, 248);
		h2 {
			width: 80%;
			font-size: 30px;
			align-self: center;
			text-align: center;
			line-height: 1.4em;
		}
		h2::after {
			content: '';
			display: block;
			margin: 0 auto;
			width: 25%;
			padding-top: 0.4em;
			border-bottom: 4px solid rgb(6, 69, 229);
		}
	}
	.snapshot_items {
		width: 80%;
		align-self: center;
		margin-top: 5rem;
		border: 0.15em solid rgb(164, 166, 168);
	}
	.accordion {
		display: flex;
		background-color: white;
		color: black;
		cursor: pointer;
		font-weight: 400;
		width: 100%;
		border: none;
		border-top: 0.11em solid gray;
		text-align: left;
		outline: none;
		font-size: 1em;
		transition: 0.4s;
		justify-content: space-between;
		p {
			align-self: center;
			font-size: 20px;
			padding-left: 2em;
		}
	}

	.accordion:after {
		content: '\002B';
		color: black;
		font-weight: 900;
		font-size: 2em;
		padding: 0.7em 1em 0.7em 0em;
	}

	.active:after {
		content: '\2212';
	}

	.panel {
		padding-left: 1em;
		background-color: white;
		max-height: 0;
		line-height: 1.4em;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
	.remove_border {
		border: none;
	}

	.learning_outcome {
		padding: 5em 0em 4em 0em;
		width: 90%;
		align-self: center;
		@include box_styling;
		align-items: center;
		align-self: center;
	}
	.learning_outcome_header {
		padding: 0em 0em 1.7em 0em;
		align-items: center;
		align-self: center;
		font-size: 30px;
	}
	.learning_outcome_header::after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 60%;
		margin-top: 0.5em;
		border-bottom: 0.15em solid rgb(6, 69, 229);
	}
	.learning_outcome_image {
		width: 90%;
		@include box_styling;
		flex-direction: row;
		padding-top: 2.6rem;
		justify-content: space-between;
	}
	.learning_outcome_content {
		width: 53%;
		padding: 0em 0em 0em 0em;
		@include box_styling;
		align-self: flex-start;
		div {
			width: 100%;
			display: flex;
			align-self: flex-start;
			margin-left: 0em;
			padding: 0.8em 0em 0.8em 0em;
		}

		div::before {
			content: url('../images/black-tick.svg');
		}
		p {
			line-height: 1.5em;
			font-size: 15px;
			padding-left: 1.5em;
		}
	}
	.learning_outcome_description {
		line-height: 1.5em;
		font-size: 15px;
		padding: 0% 0% 0% 5%;
		align-self: flex-start;
	}
	.laptop_image {
		width: 43%;
		height: 55vh;
		order: 1;
		align-self: flex-start;
	}

	.testimonials {
		@include box_styling;
		padding: 2em 0em 4em 0em;
		align-items: center;
		h2 {
			align-self: center;
			padding: 0em 0em 0em 0em;
			font-size: 30px;
		}
		h2::after {
			content: '';
			display: block;
			margin: 0 auto;
			width: 40%;
			margin-top: 0.5em;
			margin-bottom: 1em;
			border-bottom: 0.16em solid rgb(6, 69, 229);
		}
	}

	.slideshow-container {
		@include box_styling;
		position: relative;
	}
	.mySlides {
		display: flex;
		flex-direction: column;
		line-height: 1.6em;
		font-size: 17.5px;
		width: 70%;
		align-self: center;
		padding-bottom: 1em;
	}

	.qoutesDesktop {
		width: 1.3em;
		height: 1.3em;
		margin-bottom: 0.1em;
	}

	.prev,
	.next {
		display: flex;
	}
	.prev {
		position: absolute;
		bottom: 17vh;
		left: 5%;
	}
	.next {
		align-self: flex-end;
		transform: rotate(180deg);
		position: absolute;
		bottom: 18vh;
		right: 5%;
	}

	.dot-container {
		display: none;
	}

	.author {
		display: flex;
		font-weight: 600;
		width: 50%;
		font-size: 20px;
		margin-left: 50%;
		padding: 0em 0em 1em 0em;
	}
}
