* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fira Sans', 'sans-serif';
}

.gl_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  background-image: url("../images/bg.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: url("../images/bg.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-blend-mode: overlay;
}

.header_content {
  padding: 1.5rem 0rem 0rem 0rem;
  -ms-flex-item-align: center;
      align-self: center;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header_content img {
  width: 11rem;
  padding-left: 0.3em;
}

.text_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8rem 0rem;
}

.text_content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.4em;
  padding: 1.1em 0.5em 1em 0.5em;
}

.text_content form h3 {
  font-size: 17px;
  padding-bottom: 0.3em;
}

.text_content form h3:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 45%;
  padding: 0.2em 0em;
  border-bottom: 1px solid black;
  border-bottom-width: thin;
}

.text_content form .input_value {
  width: 95%;
  padding: 0.6em 0.8em;
  border-radius: 4px;
  border: 0.12em solid #9b9da3;
  font-size: 13px;
  margin: 0.6em 0em 0em 0em;
}

.text_content form select {
  width: 95%;
  padding: 0.7em 0.4em;
  border-radius: 4px;
  border: 0.12em solid #9b9da3;
  background-color: white;
  margin: 0.7em 0em 0em 0em;
  color: #242526;
}

.text_content form ::-webkit-input-placeholder {
  color: #242526;
  opacity: 1;
}

.text_content form :-ms-input-placeholder {
  color: #242526;
  opacity: 1;
}

.text_content form ::-ms-input-placeholder {
  color: #242526;
  opacity: 1;
}

.text_content form ::placeholder {
  color: #242526;
  opacity: 1;
}

.text_content form button {
  padding: 0.5em 1.2em;
  background-color: #0645e5;
  border-radius: 4px;
  border: 1px solid #0645e5;
  color: white;
  font-size: 18px;
}

.gl_program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.checkbox_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  padding: 0.9em 0em;
}

.checkbox_input input {
  border-radius: 8px;
  border: 1px solid #9b9da3;
  color: #9b9da3;
}

.checkbox_input label {
  margin-left: 3vw;
  font-size: 10px;
  color: #242526;
  line-height: 1.4em;
}

.interest_program {
  display: none;
}

.pg_program {
  padding: 4em 0em 1.3em 0em;
  font-size: 0.9em;
  line-height: 2em;
}

.gl_benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.4em;
}

.gl_benefit div {
  font-size: 16px;
  padding-left: 0.5em;
}

.gl_benefit:before {
  content: '';
  border-left: 0.6em solid white;
  border-left-width: thin;
}

.mentorship {
  line-height: 1.7em;
  padding: 2em 0em 1em 0em;
  font-size: 14px;
}

@media only screen and (min-width: 1024px) {
  .header_content {
    padding: 2rem 0rem 0rem 0rem;
    width: 100%;
  }
  .header_content img {
    width: 20rem;
    padding-left: 2em;
  }
  .text_content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0rem 0rem 2.5rem 0rem;
  }
  .text_content form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 31%;
    margin-right: 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: white;
    color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0.4em;
    padding: 1.5em 0.5em 1em 0.5em;
  }
  .text_content form h3 {
    font-size: 22px;
    padding-bottom: 0.5em;
  }
  .text_content form h3:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 0.2em 0em;
    border-bottom: 2px solid #79797a;
  }
  .text_content form .input_value {
    width: 95%;
    padding: 0.8em 1em;
    border-radius: 6px;
    border: 2px solid #d4d5d6;
    font-size: 14.5px;
    margin-bottom: 0.2em;
  }
  .text_content form select {
    width: 95%;
    padding: 0.8em 1em;
    border-radius: 6px;
    border: 2px solid #d4d5d6;
    background-color: white;
    color: #242526;
    font-size: 14.5px;
    margin-bottom: 0.2em;
  }
  .text_content form ::-webkit-input-placeholder {
    color: #242526;
    opacity: 1;
  }
  .text_content form :-ms-input-placeholder {
    color: #242526;
    opacity: 1;
  }
  .text_content form ::-ms-input-placeholder {
    color: #242526;
    opacity: 1;
  }
  .text_content form ::placeholder {
    color: #242526;
    opacity: 1;
  }
  .text_content form button {
    padding: 0.6em 1.5em;
    background-color: #0645e5;
    border-radius: 4px;
    border: 1px solid #0645e5;
    color: white;
    font-size: 22px;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
  }
  .gl_program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 58%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3%;
    padding-bottom: 2em;
  }
  .checkbox_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 95%;
  }
  .checkbox_input input {
    border-radius: 8px;
    border: 1px solid #9b9da3;
    color: #9b9da3;
  }
  .checkbox_input label {
    margin-left: 2em;
  }
  .interest_program {
    display: inline-block;
    padding: 0.5em 0em 0em 0em;
  }
  .pg_program {
    padding: 0em 0em 0em 0em;
    font-size: 0.9em;
    line-height: 2em;
    font-size: 22px;
    margin-bottom: 1.3em;
  }
  .gl_benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 2em;
    margin-bottom: 1em;
  }
  .gl_benefit div {
    font-size: 20px;
    font-weight: 600;
    padding-left: 1em;
  }
  .gl_benefit:before {
    content: '';
    border-left: 0.6em solid white;
    border-left-width: thin;
  }
  .mentorship {
    line-height: 1.7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em 0em 0em 0em;
    font-size: 18px;
  }
  .mentorship_plan:before {
    content: '';
    border-left: 3px solid white;
    padding-left: 0.3em;
  }
  .mentorship_duration {
    padding-right: 0.3em;
  }
}

.gl_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gl_main .why_gl {
  padding: 5em 0em 5.5em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
}

.gl_main .why_gl iframe {
  margin-top: 3rem;
  height: 35vh;
}

.gl_main .why_gl .whyChoseGl:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40%;
  margin-top: 1em;
  border-bottom: 4px solid #0645e5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gl_main .why_gl .whyChoseGl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
}

.gl_main .why_gl .whyChoseGl h2 {
  width: 90%;
  font-size: 22px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.4em;
}

.various_programs {
  display: none;
}

.snapshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3.5rem 0rem;
  background-color: #eff9f8;
}

.snapshot h2 {
  width: 80%;
  font-size: 22px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  line-height: 1.4em;
}

.snapshot h2::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 0.6em;
  border-bottom: 4px solid #0645e5;
}

.snapshot_items {
  width: 90vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2em;
  border: 0.15em solid #e5e3e4;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 400;
  width: 100%;
  border: none;
  border-top: 0.11em solid gray;
  text-align: left;
  outline: none;
  font-size: 1em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
  padding-left: 0.8em;
}

.accordion:after {
  content: '\002B';
  color: black;
  font-weight: 900;
  font-size: 1.3em;
  padding: 0.7em 0.7em 0.7em 0em;
}

.active:after {
  content: '\2212';
}

.panel {
  padding-left: 1em;
  background-color: white;
  max-height: 0;
  line-height: 1.4em;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.remove_border {
  border: none;
}

.learning_outcome {
  padding: 4em 0em 0em 0em;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-self: center;
}

.learning_outcome_header {
  padding: 0em 0em 1.5em 0em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 22px;
}

.learning_outcome_header::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 0.7em;
  border-bottom: 0.2em solid #0645e5;
}

.learning_outcome_image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.learning_outcome_content {
  width: 100%;
  padding: 2em 0em 2em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.learning_outcome_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0em 0em 1.5em 0em;
}

.learning_outcome_content div::before {
  content: url("../images/black-tick.svg");
}

.learning_outcome_content p {
  line-height: 1.5em;
  font-size: 15px;
  padding-left: 0.8em;
}

.learning_outcome_description {
  line-height: 1.5em;
  font-size: 15px;
  padding: 0em 0em 2em 0em;
}

.laptop_image {
  width: 90%;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.testimonials h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0em 0em 1.5em 0em;
}

.testimonials h2::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40vw;
  margin-top: 0.7em;
  border-bottom: 0.2em solid #0645e5;
}

.slideshow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.mySlides {
  display: none;
  line-height: 1.4em;
  font-size: 15px;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 1em;
}

.qoutesDesktop {
  width: 0.29em;
  height: 0.29em;
  margin-bottom: 0.8em;
}

.prev,
.next {
  display: none;
}

.dot-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 3em;
}

.dot {
  cursor: pointer;
  height: 0.8em;
  width: 0.8em;
  margin: 0 0.4em;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.working {
  background-color: #0645e5;
}

.author {
  font-weight: 600;
  width: 70%;
  font-size: 15px;
  padding: 1em 0em 1em 0em;
}

@media only screen and (min-width: 1024px) {
  .gl_main .why_gl {
    padding: 5.5em 0em 2em 0em;
    width: 100%;
  }
  .gl_main .why_gl iframe {
    height: 70vh;
    width: 60%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 1.5em;
  }
  .gl_main .why_gl .whyChoseGl:after {
    width: 27%;
    border-bottom: 4px solid #0645e5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .gl_main .why_gl .whyChoseGl {
    width: 100%;
  }
  .gl_main .why_gl .whyChoseGl h2 {
    width: 90%;
    font-size: 30px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    line-height: 1.4em;
    margin-top: 0.5em;
  }
  .various_programs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 5em 0em 2.5em 0em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .curriculum_program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .curriculum_program div {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #f7d354;
  }
  .curriculum_program h3 {
    font-size: 20px;
    width: 10em;
    text-align: center;
    line-height: 1.4em;
    padding: 1em 0em 0em 0em;
  }
  .career_assistance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .career_assistance div {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #42c5f1;
  }
  .career_assistance h3 {
    font-size: 20px;
    width: 10em;
    text-align: center;
    line-height: 1.4em;
    padding: 1em 0em 0em 0em;
  }
  .mentorship_program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mentorship_program div {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #3baa8e;
  }
  .mentorship_program h3 {
    font-size: 20px;
    width: 10em;
    text-align: center;
    line-height: 1.4em;
    padding: 1em 0em 0em 0em;
  }
  .snapshot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 4rem 0rem;
    padding-bottom: 5rem;
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #eff9f8;
  }
  .snapshot h2 {
    width: 80%;
    font-size: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    line-height: 1.4em;
  }
  .snapshot h2::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 0.4em;
    border-bottom: 4px solid #0645e5;
  }
  .snapshot_items {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 5rem;
    border: 0.15em solid #a4a6a8;
  }
  .accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 400;
    width: 100%;
    border: none;
    border-top: 0.11em solid gray;
    text-align: left;
    outline: none;
    font-size: 1em;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .accordion p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 20px;
    padding-left: 2em;
  }
  .accordion:after {
    content: '\002B';
    color: black;
    font-weight: 900;
    font-size: 2em;
    padding: 0.7em 1em 0.7em 0em;
  }
  .active:after {
    content: '\2212';
  }
  .panel {
    padding-left: 1em;
    background-color: white;
    max-height: 0;
    line-height: 1.4em;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  .remove_border {
    border: none;
  }
  .learning_outcome {
    padding: 5em 0em 4em 0em;
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-self: center;
  }
  .learning_outcome_header {
    padding: 0em 0em 1.7em 0em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 30px;
  }
  .learning_outcome_header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-top: 0.5em;
    border-bottom: 0.15em solid #0645e5;
  }
  .learning_outcome_image {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-direction: row;
        flex-direction: row;
    padding-top: 2.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .learning_outcome_content {
    width: 53%;
    padding: 0em 0em 0em 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .learning_outcome_content div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 0em;
    padding: 0.8em 0em 0.8em 0em;
  }
  .learning_outcome_content div::before {
    content: url("../images/black-tick.svg");
  }
  .learning_outcome_content p {
    line-height: 1.5em;
    font-size: 15px;
    padding-left: 1.5em;
  }
  .learning_outcome_description {
    line-height: 1.5em;
    font-size: 15px;
    padding: 0% 0% 0% 5%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .laptop_image {
    width: 43%;
    height: 55vh;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2em 0em 4em 0em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0em 0em 0em 0em;
    font-size: 30px;
  }
  .testimonials h2::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-bottom: 0.16em solid #0645e5;
  }
  .slideshow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: relative;
  }
  .mySlides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1.6em;
    font-size: 17.5px;
    width: 70%;
    -ms-flex-item-align: center;
        align-self: center;
    padding-bottom: 1em;
  }
  .qoutesDesktop {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: 0.1em;
  }
  .prev,
  .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .prev {
    position: absolute;
    bottom: 17vh;
    left: 5%;
  }
  .next {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: absolute;
    bottom: 18vh;
    right: 5%;
  }
  .dot-container {
    display: none;
  }
  .author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 600;
    width: 50%;
    font-size: 20px;
    margin-left: 50%;
    padding: 0em 0em 1em 0em;
  }
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0em 7em 0em;
  background-color: #f4f4f4;
}

.footer_container p {
  text-align: center;
  width: 90%;
  line-height: 1.6em;
}

@media only screen and (min-width: 1024px) {
  .footer_container {
    padding: 3em 0em 10em 0em;
  }
  .footer_container p {
    font-size: 16.7px;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 0vw;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #260591;
  color: white;
  cursor: pointer;
  padding: 0.8em;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#myBtn button {
  padding: 0.6rem 1.7rem;
  color: #260591;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}

#myBtn p {
  display: none;
}

.error {
  color: red;
  font-size: 13px;
  font-family: 'Fira Sans', 'sans-serif';
}

@media only screen and (min-width: 1024px) {
  #myBtn {
    padding: 1.4em 1.4em;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #myBtn button {
    padding: 0.75rem 2rem;
    color: #260591;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
  }
  #myBtn p {
    display: inline-block;
    margin-right: 2em;
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */