@import './header';
@import './main';
@import './footer';

#myBtn {
	display: none;
	position: fixed;
	bottom: 0vw;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #260591;
	color: white;
	cursor: pointer;
	padding: 0.8em;
	width: 100vw;
	justify-content: center;
	align-items: center;
	button {
		padding: 0.6rem 1.7rem;
		color: #260591;
		font-size: 18px;
		border-radius: 5px;
		border: none;
	}
	p {
		display: none;
	}
}
.error {
	color: red;
	font-size: 13px;
	font-family: 'Fira Sans', 'sans-serif';
}
@media only screen and (min-width: 1024px) {
	#myBtn {
		padding: 1.4em 1.4em;
		display: none;
		justify-content: center;
		button {
			padding: 0.75rem 2rem;
			color: #260591;
			font-size: 1.2em;
			border-radius: 5px;
			border: none;
		}
		p {
			display: inline-block;
			margin-right: 2em;
			font-size: 1em;
		}
	}
}
